.loader {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 999;
   height: 2px;
   width: 0%;
   background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
   display: none;
}

.hide-alert {
   display: none;
}

.show-alert {
   display: block;
}