.loader {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 999;
   height: 2px;
   width: 0%;
   background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
   display: none;
}

.hide-alert {
   display: none;
}

.show-alert {
   display: block;
}

.push-down{
    margin-top: 20px;
}

.top-buffer-20 { 
    margin-top:20%; 
}

.top-buffer-17 { 
    margin-top:17%; 
}

.top-buffer-15 { 
    margin-top:15%; 
}

.top-buffer-10 { 
    margin-top:10%; 
}


.top-buffer-5 { 
    margin-top:5%; 
}